*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.title h1{
    margin-top: 5%;
    color: aliceblue;
}
.fcontainer{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(87, 87, 241);
    width: 60%;
    border-radius: 10px;
    height: 500px;
}
.city{
    margin-top: 5%;
}

#city_input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    padding-left: 5%;
}
#search_button{
    margin-top: 10%;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-size: medium;
}
#search_button:hover{
    background-color: rgb(215, 215, 255);
}
.output{
    margin-top: 3%;
}
#cityname,
#temperature,
#weather{
    color: aliceblue;
    padding: 3%;
    font-size: larger;
}